@tailwind base;
@tailwind components;
@tailwind utilities;

/* // <uniquifier>: Use a unique and descriptive class name
// <weight>: Use a value from 100 to 900

.kumbh-sans-<uniquifier> {
  font-family: "Kumbh Sans", sans-serif;
  font-optical-sizing: auto;
  font-weight: <weight>;
  font-style: normal;
  font-variation-settings:
    "YOPQ" 300;
} */

.kumbh-sans-700 {
  font-family: "Kumbh Sans", sans-serif;
  font-optical-sizing: auto;
  font-weight: 700;
  font-style: normal;
  font-variation-settings: "YOPQ" 300;
}

.kumbh-sans-400 {
  font-family: "Kumbh Sans", sans-serif;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
  font-variation-settings: "YOPQ" 300;
}

.btn-get-started {
  @apply kumbh-sans-700 rounded-full bg-[#5175FF] px-10 py-3 text-white shadow-2xl shadow-[#3F5BC23F];
}

.sign-up-form-input {
  @apply w-full border-b-[1px] border-b-gray-300 pb-4 pl-4 focus:border-blue-400 focus:outline-none;
}

.selected-btn {
  @apply flex cursor-pointer items-center justify-between border-b-[1px] p-4 align-middle;
}

.already-selected-btn {
  @apply flex cursor-pointer items-center justify-between border-b-[1px] p-4 align-middle;
}
